{% extends 'base.html.twig' %}
{% block body %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Calculer</button>
{{ form_end(form) }}
<hr/>
Résultat = {{ result }}
<hr/>
<ul>
    {% for operation in operations %}
    <li>
        {{ operation.a }}
        {{ operation.operator }}
        {{ operation.b }}
        =
        {{ operation.result }}
    </li>
    {% endfor %}
</ul>

<hr />
<a href="{{path("app_calculator_purge") }}"> delete </a>
{% endblock %}