<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Hugejob</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('offer_index') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cv</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    welcom {{ app.user?app.user:"guest" }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% if not app.user %}
                    <a class="dropdown-item" href="{{ path('app_login') }}">Signin</a>
                    <a class="dropdown-item" href="{{ path('app_signup_recruiter') }}">Je suis recruteur</a>
                    <a class="dropdown-item" href="{{ path('app_signup') }}">Je suis candidat</a>
                    <div class="dropdown-divider"></div>
                    {% else %}
                    <a class="dropdown-item" href="{{ path('app_logout') }}">logout</a>
                    <a class="dropdown-item" href="{{ path('offer_new') }}">Ajouter une offre</a>
                    <a class="dropdown-item" href="{{ path('cv_new') }}">Ajouter un cv</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>